

h2{

    font-family: 'Fredoka One', cursive;


}

.nav-item{

    color: white;
}

.banner{

    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider{

    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

#slideImg{

    width: 100%;
    height: 100%;

}

.overlay{

    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    position: absolute;
    top: 0;
}

.content h1{
    text-align: center;
    width: 80%;
    margin:10% auto 10px;
    font-size:50px;

    color: white;
}


.content h3{

    text-align: center;
    width: 80%;
    margin:0 auto 100px;
    font-weight: 100;
    line-height: 25px;
    color: white;
}


.cssbuttons-io-button {
    
    margin:0 auto;
    background: #A370F0;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: inset 0 0 1.6em -0.6em #714da6;
            box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
   }
   
   .cssbuttons-io-button .icon {
    background: white;
    margin-left: 50%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    -webkit-box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
            box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
   }
   
   .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
   }
   
   .cssbuttons-io-button .icon svg {
    width: 1.1em;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    color: #7b52b9;
   }
   
   .cssbuttons-io-button:hover .icon svg {
    -webkit-transform: translateX(0.1em);
        -ms-transform: translateX(0.1em);
            transform: translateX(0.1em);
   }
   
   .cssbuttons-io-button:active .icon {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
   }
   
   #encabezado{

    font-family: 'Fredoka One', cursive;
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    height: 100%;
    margin: auto;
    background-color: black;
    box-shadow: 3px 3px 3px #12F095;

   }
   #encabezado1{
    margin-top:10%;
   }
   #encabezado1 h1 {

    color: white;
    font-size:10vh;
   }
   #encabezado2{

    text-align: right;
    
   }

   #bajar{
    
    margin-top:90%;

   }
  
   #fuego{

    margin-top:5%;
    font-family: 'Fredoka One', cursive;
    


   }

   #fuegodiv{

    padding: 3%;
   }
  
   #fuegodiv2{

    display: grid;
    grid-template-columns: 45% 45%;
    text-align: justify;
    justify-content:center;

   }

   #fuegoimg{
    width: 80%;
    border-radius: 59px 59px 59px 59px;
    -moz-border-radius: 59px 59px 59px 59px;
    -webkit-border-radius: 59px 59px 59px 59px;
    border: 5px dashed #3908fc;

    box-shadow: 3px 3px 3px #12F095;

   }

   #vapor{
    font-family: 'Fredoka One', cursive;
    color:white;

    background-color:#565656;
    -webkit-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.75);

   }


   
